* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #7a7b7b;
}


// Background colors

.yellow {
    background-color: #fcc00d;
}

.pink {
    background-color: #f6b9cc;
}

.purple {
    background-color: #bdbee1;
}

.green {
    background-color: #9ad1c7;
}

.light-blue {
    background-color: #75afdb;
}

.red {
    background-color: #f0836b;
}




#main-nav {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
}

.logo__container {
    width: 60px;
    height: 30px;
    background-color: #F0836B;
}

#main-nav ul {
    display: flex;
    list-style-type: none;

    p {
        display: flex;
        align-items: center;
        color: #7A7B7B;
    }
}

#main-nav ul li {
    padding-left: 12px;
}

a {
    color: #7A7B7B;
    text-transform: uppercase;
    text-decoration: none;
}

h2 {
    font-size: 1.4rem;
    margin: 10px;
}

p {
    line-height: 140%;
}

label {
    font-size: 1rem;
    margin: 5px;
}

#domanda_1 {
    display: none;
}

#bye {
    display: none;
}


.wrapper {
    margin: 0px 40px;
    background-color: #F8F7F7;
    border: 1px solid #E5E5E4;
    border-radius: 4px;
    display: flex;
    box-shadow: 1px 1px 1px rgba(1%, 1%, 1%, 0.1);
}

.image {
    height: 77px;
    width: 77px;
    border-radius: 100%;
    background-color: grey;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 30px;
}

.chat__container {
    width: 400px;
    height: 500px;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 2%;
    overflow: scroll;
}

.chat__welcome {
    display: flex;
}

.chat__image {
    width: 100px;
    height: 70px;
    background-image: url(/img/hello.png);
    background-size: cover;
    margin-top: 25px;
}

.chat__choises {
    display: flex;
    flex-wrap: wrap;
}

.chat__text {
    width: 75%;
    padding: 10px;
}

.chat__age input {
    width: 200px;
    background-color: red;
}

.chat__age {
    display: flex;
    flex-wrap: wrap;
}

.chat__blurb {
    height: 40px;
    width: 78px;
    background-color: rgb(218, 218, 218);
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #969696;
    margin: 2px;
    border-radius: 50%;
}

.animate1 {
    animation: darken 1s infinite;
}

.animate2 {
    animation: darken 2s 1s infinite;
}

.animate3 {
    animation: darken 3s 1s infinite;
}

.checkbox-wrapper,
.radio-wrapper {
    display: flex;
    align-items: center;
    margin: 10px;
}


.checkmark {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.radio {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

select {
    margin-left: 10px;
}

.illustration__conatiner {
    width: 50%;
}


@keyframes darken {
    0% {
        background-color: #7A7B7B;
    }

    100% {
        background-color: rgb(83, 83, 83);
    }
}


@media screen and (max-width: 600px) {

    .wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .chat__container {
        max-width: 300px;
        min-height: 600px;
        margin: 0 auto;
    }

    .wrapper {
        height: auto;
    }

    .image {
        margin: 20px auto;
        height: 100px;
        width: 100px;
    }
}